[submodule "Test"]
	path = DevopsDemoProjet
	url = https://github.com/OuedraogoGitHub/DevopsDemoProjet
	branch = main
[submodule "DevopsDemoProjet"]
	path = DevopsDemoProjet
	url = https://github.com/OuedraogoGitHub/DevopsDemoProjet
[submodule "DevopsTest"]
	path = DevopsTest
	url = https://github.com/OuedraogoGitHub/DevopsTest
